
{% extends 'base.html' %}
{% block body %}

<div class="container my-3">
    <h1>Add a Todo</h1>
    <form action="/admin" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">user name</label>
        <input type="text" class="form-control" name='username' id="username" aria-describedby="emailHelp"  required>
        <div id="username" class="form-text">.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="text" class="form-control" name='password' id="password"  required>
      </div>



      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    {% if not submission_successful %}
<div class="alert alert-warning alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      This <strong>username</strong> or <strong>password</strong> is incorrect.
    </div>
  </div>
  {% endif %}

  {% endblock body %}